{% extends "base.html" %}

{% block content %}
  <div class = "row mt-4">
    <div class="col">
      <h2> Add Item</h2>
        <form class="form-inline" action="add_todo/" method="POST">
          {% csrf_token %}
          <input type="text" class="form-control mb-2 mr-sm-2" placeholder="type here..." name="text"/>
          <button type="submit" class="btn-primary mb-2">Submit</button>

        </form>
    </div>
  </div>

  <div class = "row mt-4">
    <div class="col">
      <ul class="list-group">

      {% for todo in all_todo %}
       <li class="list-group-item"><b>{{ todo.text }}</b>
        <div class="float-right">
          <form action="todo_delete/{{ todo.id }}" type="POST">
            <button type="submit" class="btn-danger btn-sm mb-2">Delete</button>
          </form>
        </div>
         <br>
         <small>
           {{ todo.added_date }}
         </small>
        
         </li>
      {% endfor%}
    </ul>
    </div>
  </div>
{% endblock content %}